body {
  padding: 10px 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
  width:100%;
}

#translate {
  margin-top: 20px;
  width: 20%;
  color: #fff;
  background-color: #063aea;
  border-color: #063aea;
  cursor: pointer;
  padding: 10px;
}

marquee {
  color: #c2019a;
}
